.row{
    padding: 40px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}



h1{
    font-weight: bold;
}



.card{
    display: flex;
    align-items: center;
    justify-content: center;
}


