<div class="row">
    <h1>Proyectos</h1>
    <div class="container">
        <br>    
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="../../../assets/mockup_chocolatenegro.png" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text">Rediseño de chocolate Graffiti Negro</p>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="../../../assets/mockup_chocolateblanco.png" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text">Rediseño de chocolate Graffiti Blanco</p>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="../../../assets/mockup_chocolatelimon.png" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text">Rediseño de chocolate Graffiti sabor a limón</p>
                    </div>
                </div>
                
    </div>
    
</div>    